/**
 * Tag styles
 */

.tag {
  display: inline-block;
  height: 25px;
  margin-left: 10px;
  padding: 0 10px;
  background-color: var(--backShade);
  color: var(--secondaryFontColor);
  font-size: 12px;
  line-height: 25px;

  -webkit-user-select: none;

  user-select: none;
}

.tag:first-child {
  margin-left: 0;
}

.tagWithRemove {
  display: flex;
  align-items: center;
  padding-right: 0px;
}

.taglabel {
  margin-right: 8px;
}

.tagIcon {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  filter: invert(0.4);
  cursor: pointer;
}
