/**
 * NavigationBar styles
 */
.navigationBar {
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}
@media (max-width: 768px) {
  .navigationBar {
    padding: 0px 10px;
  }
}
.links {
  display: block;
  padding: 0px 15px;
  height: 38px;
  line-height: 38px;
  text-decoration: none;
  font-size: 14px;
  color: var(--secondaryFontColor);
  -webkit-user-select: none;
  user-select: none;
  transition: color 0.3s;
}
.links:hover {
  color: var(--primaryFontColor);
}
.linkActive {
  color: var(--primaryFontColor);
  background-color: #f9f9f9;
}
