/**
 * Opinion styles
 */
.container {
  position: relative;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
  border: 1px solid var(--borderColor);
  /*border-bottom: none;

  &:last-child { border-bottom: 1px solid var(--borderColor); }*/
}
.container .deletingOpinion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.infoContainer {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
}
.infoContainer .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}
.infoContainer .userInfo {
  margin-left: 10px;
  flex: 1;
  display: flex;
}
.infoContainer .userInfo .name {
  font-weight: 700;
  color: var(--primaryFontColor);
  text-decoration: none;
}
.infoContainer .userInfo .gitHandler {
  margin-left: 15px;
  text-decoration: none;
  color: var(--secondaryFontColor);
  transition: color 0.3s;
}
.infoContainer .userInfo .gitHandler:hover {
  color: var(--primaryFontColor);
}
.infoContainer .userInfo .gitHandler .gitIcon {
  margin-right: 5px;
}
.infoContainer .dateInfo {
  font-size: 13px;
  line-height: 13px;
  color: var(--secondaryFontColor);
}
@media (max-width: 768px) {
  .infoContainer .dateInfo {
    margin-left: 10px;
  }
}
.infoContainer .deleteButton {
  padding: 5px 10px;
  font-weight: normal;
}
.infoContainer .deleteButton .trashIcon {
  margin-right: 5px;
  font-size: 16px;
}
.opContent {
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: 60px;
  font-size: 15px;
  line-height: 26px;
}
.commentFooter {
  display: flex;
  align-items: center;
}
.commentFooter .favoriteButton {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  color: var(--secondaryFontColor);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: color 0.3s;
}
.commentFooter .favoriteButton:hover {
  color: var(--primaryFontColor);
}
.commentFooter .favoriteButton i {
  font-size: 20px;
  margin-right: 10px;
}
