/**
 * Button styles
 */

/* resetting all default button styles */

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
  cursor: pointer;
}

.buttonDefaults {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.default {
  color: var(--secondaryFontColor);
  transition: color 0.3s;
}

.default:hover {
  color: var(--primaryFontColor);
}

.outline {
  color: var(--secondaryFontColor);
  border: 1px solid var(--borderColor);
  transition: color 0.3s, border 0.3s;
}

.outline:hover {
  color: var(--primaryFontColor);
  border: 1px solid var(--secondaryFontColor);
}

.fullWidth {
  width: 100%;
}

.noUppercase {
  text-transform: none;
}

.alwaysActive {
  color: var(--primaryFontColor);
  border-color: var(--primaryFontColor);
}
