/**
 * FeedBox styles
 */

.container {
  margin-top: 20px;
  border: 1px solid var(--borderColor);
}

.container:first-child {
  margin-top: 0px;
}

.header {
  border-bottom: 1px solid var(--borderColor);
  height: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--backShade);
}

.title {
  padding-left: 10px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.sortList .sort {
  color: var(--secondaryFontColor);
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0px 10px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.sortList .sort.sortActive {
  color: var(--primaryFontColor);
}

.posts {
  display: flex;
  flex-direction: column;
}

.loading {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: var(--secondaryFontColor);
  padding: 20px 0px;
  text-align: center;
}
