.content {
  margin-top: 10px;
  position: relative;
}

.forumName {
  font-weight: bold;
}

.errorMsg {
  margin-top: 5px;
  color: rgba(231, 76, 60, 1);
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
}

.fatalError {
  margin-top: 20px;
  text-align: center;
}

.titleInput {
  margin: 20px 0px 0px 0px;
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
  background-color: none;
  font-size: 24px;
  font-weight: 300;
  /*border-bottom: 1px solid var(--borderColor);*/
}

.signInMsg {
  padding: 80px 0px;
  color: var(--secondaryFontColor);
  text-align: center;
}

.postingMsg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.8);
}
