/**
 * PostBox styles
 */
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid var(--borderColor);
}
.container:last-child {
  border-bottom: none;
}
.title {
  font-size: 18px;
  font-weight: 300;
}
.title a {
  text-decoration: none;
  color: var(--primaryFontColor);
}
.titleBottomMargin {
  margin-bottom: 10px;
}
.posterInfo {
  margin-top: 10px;
  font-size: 13px;
}
.posterInfo.name {
  font-weight: 700;
  color: var(--secondaryFontColor);
  text-decoration: none;
  transition: color 0.3s;
}
.posterInfo.gitHandler {
  margin-left: 5px;
  text-decoration: none;
  color: var(--secondaryFontColor);
  transition: color 0.3s;
}
.posterInfo.gitHandler.gitIcon {
  font-size: 16px;
  padding: 0 5px;
}
.boxFooter {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .boxFooter {
    margin-top: 0px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.tagsArea {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .tagsArea {
    margin-top: 5px;
  }
}
.postInfo .info {
  margin-left: 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: lowercase;
  color: var(--secondaryFontColor);
}
.postInfo .info:first-child {
  margin-left: 0px;
}
