/**
 * Discussion styles
 */
.container {
  padding: 20px 10px 0px 10px;
  position: relative;
}
.infoContainer {
  display: flex;
  align-items: center;
}
.infoContainer .avatar {
  width: 42px;
  height: 42px;
  border-radius: 50px;
}
.infoContainer .columnOnSmallBP {
  flex: 1;
  display: flex;
}
@media (max-width: 768px) {
  .infoContainer .columnOnSmallBP {
    flex-direction: column;
  }
}
.infoContainer .userInfo {
  margin-left: 10px;
  flex: 1;
  display: flex;
}
.infoContainer .userInfo .name {
  font-weight: 700;
  color: var(--primaryFontColor);
  text-decoration: none;
}
.infoContainer .userInfo .gitHandler {
  margin-left: 15px;
  text-decoration: none;
  color: var(--secondaryFontColor);
  transition: color 0.3s;
}
.infoContainer .userInfo .gitHandler:hover {
  color: var(--primaryFontColor);
}
.infoContainer .userInfo .gitHandler .gitIcon {
  margin-right: 5px;
}
.infoContainer .dateInfo {
  font-size: 13px;
  color: var(--secondaryFontColor);
  padding-left: 12px;
}
@media (max-width: 768px) {
  .infoContainer .dateInfo {
    margin-left: 10px;
  }
}
.discTitle {
  margin-top: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
.discContent {
  margin-top: 10px;
  font-size: 15px;
  line-height: 26px;
}
.discFooter {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .discFooter {
    flex-direction: column;
    align-items: flex-start;
  }
}
.discFooter .tags {
  flex: 1;
}
@media (max-width: 768px) {
  .discFooter .favoriteButton,
  .discFooter .deleteButton {
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.discFooter .favoriteButton i,
.discFooter .deleteButton i {
  font-size: 20px;
  margin-right: 10px;
}
.deletingDiscussion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}
