/* --largeBP: (min-width: 1100px);
--mediumBP: (min-width: 769px) and (max-width: 1099px);
--smallBP: (max-width: 768px); */

.constraintWidth {
  margin: 0px auto;
  min-width: 320px;
  max-width: 1100px;
}

@media (min-width: 1100px) {
  .constraintWidth {
    padding: 0px;
  }
}
@media (min-width: 769px) and (max-width: 1099px) {
  .constraintWidth {
    padding: 0px 15px;
  }
}

.primaryContent {
  flex: 1;
}

.secondaryContent {
  width: 260px;
}

@media (min-width: 769px) and (max-width: 1099px) {
  .secondaryContent {
    display: none;
  }
}

@media (max-width: 768px) {
  .secondaryContent {
    display: none;
  }
}

.showOnMediumBP {
  display: none;
}

@media (min-width: 769px) and (max-width: 1099px) {
  .showOnMediumBP {
    display: inherit;
  }
}
@media (max-width: 768px) {
  .showOnMediumBP {
    display: inherit;
  }
}
