/**
 * color variables
 */
:root {
  --themeColor: #f1c40f;
  --primaryFontColor: #000;
  --secondaryFontColor: #999;
  --borderColor: #e8e8e8;
  --backShade: #f9f9f9;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 22px;
  font-family: "Lato", helvetica, arial, sans-serif;
  font-weight: 300;
}

textarea {
  border: none;
  border-bottom: 1px solid var(--borderColor);
  resize: none;
}

textarea:focus,
textarea:active {
  outline: none;
}
