.loginContainer {
  width: 50%;
  height: calc(100vh - 280px);
  margin: 0 auto;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

.loginForm {
  display: grid;
  width: 420px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
}

.submitBtn {
  grid-column: 1 / 3;
  border: 1px solid gainsboro;
  padding: 12px 0;
}

.submitBtn:hover {
  background-color: rgba(205, 205, 205, 0.1);
}

.submitBtn:active {
  background-color: rgba(175, 175, 175, 0.4);
}

.header {
  text-align: center;
}

.HeaderButton {
  padding: 12px 72px;
  border: 1px solid gainsboro;
  margin-bottom: 54px;
}

.active {
  background: gainsboro;
}
