/**
 * RichEditor styles
 */
.container {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--borderColor);
}
.readOnlyContainer {
  border: none;
}
.editorContainer {
  padding: 10px 10px;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid var(--borderColor);
  cursor: text;
}
.editorContainer :global .public-DraftEditorPlaceholder-root {
  position: absolute;
  color: var(--secondaryFontColor);
}
.readOnlyEditorContainer {
  padding: 0px;
  border-bottom: none;
}
.buttonClass {
  margin-top: 20px;
}
.newDiscussion {
  min-height: 300px;
  border: none;
  resize: none;
  border-bottom: 1px solid var(--borderColor);
}

.newDiscussion:focus {
  outline: none;
}
