/**
 * Header Styles
 */

.headerTop {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .headerTop {
    padding: 0px 10px;
  }
}
